$theme-colors: (
  "main-text": #424242,
  "secondary-text": #888888,
  "form-text": #B0B0B0,
);

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Kumbh Sans", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:not(.modal-open) {
  padding-right: 0px !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem #e9f1fc !important;
}

.parent {
  width: 100vw;
  height: 100vh;
  position: relative;
  & .menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 19.4%;
    max-width: calc(560px - 2.5em);
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 3em;
    padding-bottom: 3em;
    // padding-left: 2.5em;
    background-color: #ffffff;
    overflow: auto;

    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
      display: none;
    }

    & .logo-icon {
      margin-bottom: 3em;
      margin-left: 2.5em;
    }

    & .menu-container {
      list-style: none;
      padding: 0 !important;
      & .menu {
        position: relative;
        font-size: 1em;
        padding: 0.25em 0;
        margin: 1em 0;
        font-weight: 400;
        background-color: transparent;
        & .menu-option {
          position: relative;
          padding-left: 2.5em;
          height: 100%;
          z-index: 10;
          display: flex;
          align-items: center;
          text-decoration: none !important;
          & .icon {
            margin-right: 1em;
          }
          & a {
            color: #424242 !important;
            text-decoration: none !important;
            &:hover {
              text-decoration: none !important;
            }
          }
        }
        &.selected {
          font-weight: 700;
          & .hover-stylized {
            right: 0;
            width: 2px;
            transition: 0.2s ease;
          }
          transition: 0.2s ease;
        }
        &:hover {
          & .hover-stylized {
            width: 100%;
            z-index: 1;
            transition: 0.2s ease;
          }
          & .menu-option {
            & a {
              color: white !important;
            }
          }
        }
        & .hover-stylized {
          position: absolute;
          right: 0;
          top: 0;
          width: 0%;
          background-color: #034ea1;
          height: 100%;
          transition: 0.2s ease;
          z-index: 1;
        }
      }
    }
  }
  .content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f6f8fb;
  }
  .blank-content {
    width: 19.4%;
    height: 100%;
  }
  .content {
    width: calc(100% - 19.4%);
    height: 100%;
    padding: 2em;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    & .top-content {
      margin-bottom: 2em;
    }

    & .footer {
      margin-top: 2em;
      text-align: center;
      & .footer-text {
        text-align: center;
        color: #888888;
        font-size: 1em;
        font-weight: 400;
        & .span-text {
          color: #4987F3;
          font-weight: 600;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) {
}
